:root {
  --meme-main: #21851a;
  --meme-main-second: #44c92c;
  --meme-font: #1e1e1e;
  --meme-light-grey: #e6e6e6;
  --meme-dark-grey: #d2d2d2;
}

body {
  margin: 0;
  max-width: 100dvw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.meme-generator {
  width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: none;
  scrollbar-width: none;
}

.meme-generator-header {
  background-image: linear-gradient(to right, var(--meme-main), var(--meme-main-second));
  box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 15px 25px;
}

.meme-generator-title-container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 80px;
  margin-left: 20px;
  gap: 15px;
  width: min-content;
  transition: all 0.4s ease
}

.meme-generator-title-container:hover {
  scale: 1.05;
  cursor: pointer;
}

.meme-generator-title-container:hover .meme-generator-logo-container {
  transform: rotateZ(-5deg) scale(105%);
}

.meme-generator-logo-container {
  height: 100%;
  background-color: transparent;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease;
}

.meme-generator-logo {
  height: 100%;
}

.meme-generator-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.meme-generator-main {
  background-color: white;
  width: 100%;
  color: var(--meme-font);
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.meme-generator-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.meme-generator-inputs-wrapper {
  box-sizing: border-box;
  background-color: var(--meme-light-grey);
  max-width: 38%;
  min-width: 30%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.meme-generator-inputs-and-buttons-container {
  width: 100%;
  height: 100%;
}

.meme-generator-inputs-parameters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.meme-generator-input-container {
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.meme-generator-delete-input-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  background-color: var(--meme-main);
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
  cursor: pointer;
}

.meme-generator-input-container label {
  color: var(--meme-font);
  font-weight: bold;
  font-size: larger;
}

.meme-generator-text-label {
  font-size: 1.7rem !important;
  margin-left: 10px !important
}

.meme-generator-input-container input {
  margin: 15px 0px
}

.meme-generator-input-container input[type="text"] {
  border: 3px solid var(--meme-main);
  padding: 5px;
  border-radius: 10px;
  font-size: large;
}

.meme-generator-font-range-input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meme-generator-font-range-input-container p {
  translate: 0% -10%;
  font-weight: 700;
}

:root {
  --track-height: 6px;
  --thumb-height: 18px;
  --thumb-width: 18px;
}

input[type="range"] {
  appearance: none;
  background: transparent;
  width: 70%;
  display: inline-block;
  cursor: pointer;
  align-self: center;
  border-radius: 3px;
  margin: 15px 0px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--meme-main), var(--meme-main-second));
  height: var(--track-height);
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(to right, var(--meme-main), var(--meme-main-second));
  height: var(--track-height);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: white;
  border-radius: 50%;
  width: var(--thumb-width);
  height: var(--thumb-height);
  margin-top: calc((var(--track-height) / 2) - (var(--thumb-height) / 2));
  border: 3px solid var(--meme-main);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  background: white;
  border-radius: 50%;
  border: 3px solid var(--meme-main);
}

input[type="range"]:focus {
  outline: none;
}

.meme-generator-bottom-buttons-container {
  position: sticky;
  box-sizing: border-box;
  bottom: 0px;
  background-color: var(--meme-light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 5px 0px 15px;
}

.meme-generator-bottom-buttons-container button {
  width: 90%;
  cursor: pointer;
  margin: 10px 0px;
  border: none;
  font-weight: bold;
}

.meme-generator-add-input {
  background-color: var(--meme-dark-grey);
  border-radius: 50px;
  font-size: 2rem;
}

.meme-generator-get-image {
  width: 100%;
  background-image: linear-gradient(to right, var(--meme-main), var(--meme-main-second));
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 1.3rem;
}

.meme-generator-mobile-close-menu-btn {
  position: sticky;
  top: 10px;
  z-index: 2000;
  background-color: var(--meme-dark-grey);
  padding: 5px 15px;
  border-radius: 10px;
  margin: 10px 0px 40px;
  width: 70%;
  border: none;
  display: none;
  cursor: pointer;
}

.meme-generator-meme-edit-area {
  box-sizing: border-box;
  flex-grow: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow: auto;
  z-index: 100;
  scrollbar-color: var(--meme-light-grey);
}

.meme-generator-meme-container {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: all 0.3s ease;
  height: auto;
  max-width: 80dvw;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme-generator-meme-container img {
  height: 500px;
  width: auto;
  border-radius: 8px;
  user-select: none;
  -webkit-user-drag: none
}

.meme-generator-meme-name {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  margin-top: 25px;
  background: linear-gradient(to right, var(--meme-main), var(--meme-main-second));
  background-clip: text;
  color: transparent;
}

.meme-generator-meme-text {
  position: absolute;
  display: inline;
  text-align: center;
  width: max-content;
  max-width: 100%;
  user-select: none;
  white-space: wrap;
  left: 50%;
  height: min-content;
  translate: -50% -50%;
  font-weight: 900;
  margin: 0;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  .meme-generator-main-container {
    flex-direction: column;
  }

  .meme-generator-meme-edit-area {
    width: 100%;
  }

  .meme-generator-meme-container img {
    max-width: 95%;
    height: auto
  }

  .meme-generator-inputs-wrapper {
    max-width: 100%;
    min-width: 100%;
    max-height: none;
    height: auto;
  }

  .meme-generator-inputs-and-buttons-container {
    display: none;
    height: 0;
  }

  .meme-generator-wrapper-is-shown {
    display: block !important;
    height: 80dvh;
  }

  .meme-generator-mobile-close-menu-btn {
    display: block;
  }
}